<!--左上の個人データ-->

<table class='table'>
  <tr><%= image_tag user.get_profile_image, size:'100x100' %></tr>
  <tr>
	  <th>name</th>
	  <th><%= user.name %></th>
  </tr>
  <tr>
	  <th>introduction</th>
	  <th><%= user.introduction %></th>
  </tr>
  <tr>
    <th>follows</th>
    <th><div style="text-align: center;"><%= link_to user.followings.count, user_followings_path(user) %></div></th>
  </tr>
  <tr>
    <th>followers</th>
    <th><div style="text-align: center;"><%= link_to user.followers.count, user_followers_path(user) %></div></th>
  </tr>
  <tr>
    <th>
      <% if current_user != user %>
        <% if current_user.following?(user) %>
          <%= link_to "フォロー<br>解除".html_safe, user_relationships_path(user), method: :delete, class: 'btn btn-danger', style: "white-space: nowrap;" %>
        <% else %>
          <%= link_to "フォロー<br>する".html_safe, user_relationships_path(user), method: :post, class: 'btn btn-primary', style: "white-space: nowrap;" %>
        <% end %>
      <% end %>
    </th>
    <th>
      <% if current_user != user %>
        <% if current_user.following?(user) %>
          <%= link_to 'DMを送信'.html_safe, new_direct_message_path(receiver_id: user.id), class: 'btn btn-success' %>
        <% else %>
          <p style="text-align: center;">フォローして<br>DM</p>
        <% end %>
      <% end %>
    </th>
  </tr>
</table>

<div class='row'>
  <%= link_to edit_user_path(user), class: "btn btn-outline-secondary btn-block" do %>
    <i class="fas fa-user-cog"></i>
  <% end %>
</div>